            <form method="post" enctype="multipart/form-data" action="/send">
                <table cellpadding="11">
                    <tr>
                        <td class="label">proposal document</td><td>:<input type="file" name="proposalDocument"></td>
                    </tr>
                    <tr>
                        <td class="label"></td>
                        <td>
                            &nbsp; <input type="submit" name="submit" value="Save">
                           <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelUser()">
                        </td>
                    </tr>
                </table>
            </form>